@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Caprasimo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&family=Quintessential&display=swap');

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85)),
    url('/assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: overlay;
  font-family: 'Bitcount Grid Double', sans-serif;
  color: white;
  overflow: hidden;
}

.home-container {
  background-color: rgba(15, 15, 15, 0.9);
  color: #16f2b3;
  padding: 4rem 6rem;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 0, 84, 0.4);
  text-align: center;
  max-width: 800px;
  width: 80vw;
  backdrop-filter: blur(5px);
}

.home-container h1 {
  font-family: 'Bitcount Grid Double', sans-serif;
  font-size: 3rem;
  color: #ff0054;
  margin-bottom: 1rem;
  text-shadow: 0 0 8px #000000aa;
}

.home-container p {
  font-size: 1.2rem;
  font-family:'Bitcount Grid Double', sans-serif;
  margin-bottom: 2rem;
  color: #fefefe;
}

.home-container button {
  background-color: crimson;
  color: black;
  border: none;
  padding: 0.9rem 2.2rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 0 10px #ff005588;
  transition: all 0.3s ease;
}

.home-container button:hover {
  background-color: #0f0f0f;
  color: crimson;
  border: 2px solid crimson;
}

/* Medium screens */
@media (max-width: 768px) {
  .home-container {
    padding: 2rem;
    width: 90vw;
  }

  .home-container h1 {
    font-size: 2.2rem;
  }

  .home-container p {
    font-size: 1.05rem;
  }

  .home-container button {
    font-size: 1rem;
    padding: 0.7rem 1.7rem;
  }
}

/* Small screens */
@media (max-width: 480px) {
  .home-container {
    padding: 1.5rem;
  }

  .home-container h1 {
    font-size: 1.7rem;
  }

  .home-container p {
    font-size: 0.95rem;
  }

  .home-container button {
    width: 100%;
    font-size: 0.95rem;
    padding: 0.7rem 1rem;
  }
}
